<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator walut</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


    <style>

        .textRel, .dropdownRel {
            position: relative;
            display: inline-block;
        }
    </style>
</head>
<body>
<a th:text="|Aktualny stan konta: ${accountBalance}|"> </a></br>


<div align="right">
    <form action="#" th:action="@{/logout}">
        <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" value="Wyloguj"/>
    </form>
</div>


<form action="#" th:action="@{/historyPage}">
    <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" value="Historia"/>
</form>
<br>

<form action="#" th:action="@{/rankPage}">
    <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" value="Ranking"/>
</form>
<br/>

<form action="#" th:action="@{/getCurrencies}">
    <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" value="pobierz kursy"/>
</form><br/>
<div align="center">


    <div th:if="${currenciesInDataBase} == true">


        Lista walut i ceny
        <ul class="list-group list-group-flush">

            <li class="list-group-item" th:text="|1 EUR: ${rates.get(0)}|"> </li>
            <li>
                <a th:dDouble="${currency}" th:href="'/shoppingCart/0'"> Wybierz </a>
            </li>
            <li class="list-group-item" th:text="|1 USD: ${rates.get(1)}|"> </li>
            <li>
                <a th:dDouble="${currency}" th:href="'/shoppingCart/1'"> Wybierz </a>
            </li>
            <li class="list-group-item" th:text="|1 CHF: ${rates.get(2)}|"> </li>
            <li>
                <a th:dDouble="${currency}" th:href="'/shoppingCart/2'"> Wybierz </a>
            </li>
            <li class="list-group-item" th:text="|1 GBP: ${rates.get(3)}|"> </li>
            <li>
                <a th:dDouble="${currency}" th:href="'/shoppingCart/3'"> Wybierz </a>
            </li>
            <li class="list-group-item" th:text="|100 JPY: ${rates.get(4)}|"> </li>
            <li>
                <a th:dDouble="${currency}" th:href="'/shoppingCart/4'"> Wybierz </a>
            </li>
        </ul>
    </div>

    <br/><br/><br/>

    <ul>
        <li th:each="cart: ${shoppingCarts}">
            <a th:text="*{cart.name}"></a>
            <a th:text="*{cart.transactionValue}"></a>
            <a th:text="*{cart.getCurrencyDate()}"></a>
        </li>
    </ul>

    <div th:if="${emptyCart} == true">
        <form action="#" th:action="@{/createTransactions}">
            <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" value="Kup"/>
        </form>
        <br>
    </div>

</div>
</body>
</html>