<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator walut</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


</head>
<body>

<form action="#" th:action="@{/mainPage}">
    <input type="submit" value="Strona Główna"/>
</form>

<form action="#" th:action="@{/historyPage}">
    <input type="submit" value="Historia"/>
</form>

<form action="#" th:action="@{/}">
    <input type="submit" value="Wyloguj"/>
</form>

</body>
</html>