<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="startingPage.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Waluty</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




</head>

<body background="https://images.wallpaperscraft.com/image/dollar_currency_money_106888_1920x1080.jpg">

<div th:if="${errorMessage}">
    <div class="alert alert-info" th:text="${errorMessage}"></div>
</div>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="http://kantory.pl/konsola/banknoty/170/img39.jpg" alt="" />
            <h3>Witamy</h3>
            <p>Przetestuj swoje zdolności w grze na giełdzie walut!</p>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="/mainPage" role="tab" aria-controls="/login" aria-selected="true">Logowanie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="newuser-tab" data-toggle="tab" href="/createAccountPage" role="tab" aria-controls="newuser" aria-selected="false">Nowy użytkownik</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <h3 class="register-heading">Logowanie</h3>
                    <div class="row register-form">
                        <div class="col-md-12 profile_card">
                            <form class="form-inline">
                                <div class="form-group">
                                    <i class="fa fa-envelope-o"></i>
                                    <input type="text" class="form-control" placeholder="Email" value="" />
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" class="form-control" placeholder="Hasło *" value="" />
                                </div>
                                <div class="float-right">
                                    <input type="submit" class="btn btn-primary" style=" border: none; background-color:#cc4400;" value="Zarejestruj" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="newuser" role="tabpanel" aria-labelledby="newuser-tab">
                    <h3 class="register-heading">Nowy użytkownik</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                            </div>



                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                            </div>
                            <div class="float-right">
                                <input type="submit"  class="btn btn-primary" style=" border: none; background-color:#cc4400;" value="Register"  />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>